@inject IViewLocalizer Localizer
@{
    ViewBag.Title = Localizer["Title"];
}
<div class="herounit herounit-secondary" style="background-image: url('/img/banner-image-contact-1.png');">
    <div class="container fullHeight">
        <div class="row fullHeight">
            <div class="herounit-wrapper fullHeight col-xs-12">
                <div class="herounit-wrap txt-center">
                    <h1 class="page_title">@Localizer["Title"]</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="center_aligned_content homeText-section">
    <div class="aboutus-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 clearfix">
                    <h2 class="title txt-center"></h2>

                </div>
                <div class="col-xs-12 col-lg-12">
                    <div class="content_wrapper">
                        <p class="p2"><b>The Door Shop </b> - @Localizer["Desc1"]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="who_we_are_panel">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 no-pad halfGrid-section">
                <div class="col-xs-12 col-sm-7 no-pad left_text bg-blue isVerticalMiddle">
                    <h2 class="panel_text">
                        @Localizer["Desc2"]
                    </h2>
                </div>
                <div class="col-xs-12 col-sm-5 no-pad right_image isVerticalMiddle" style="background-image: url('/img/Door.jpg');">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="left_aligned_content wwaText-section">
    <div class="aboutus-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 clearfix">
                    <h2 class="title txt-left">
                        @Localizer["History"]
                    </h2>

                </div>
                <div class="col-xs-12 col-lg-12">
                    <div class="content_wrapper">
                        <p>
                            @Localizer["Desc3"]
                        </p>
                        <p>
                            @Localizer["Desc4"]
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>