@inject IViewLocalizer Localizer
@{
    ViewBag.Title = @Localizer["Title"];
}
@model OrderViewModel
<div class="herounit herounit-secondary" style="background-image: url('/img/bannerimage-products.png');">
    <div class="container fullHeight">
        <div class="row fullHeight">
            <div class="herounit-wrapper fullHeight col-xs-12">
                <div class="herounit-wrap txt-center">
                    <h1 class="page_title">@Localizer["Title"]</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-container">
    <div class="products-page">
        <div class="col-md-10  col-md-offset-1">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <td>
                            Product
                        </td>
                        <td>
                            Quantity
                        </td>
                        <td>
                            Price
                        </td>
                        <td>
                            Total
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var p in Model.Items)
                    {
                        <tr>
                            <td>
                                @p.ProductTitle
                            </td>
                            <td>
                                @p.Quantity
                            </td>
                            <td>
                                @p.UnitPrice
                            </td>
                            <td>
                                @p.UnitPrice*p.Quantity
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

