@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewBag.Title = @Localizer["Title"];
}
    <div class=" text-center">
        <div class="herounit" style="background-image: url('/img/homepage-banner.png');">
            <div class="container fullHeight">
                <div class="row fullHeight">
                    <div class="herounit-wrapper fullHeight col-xs-12">
                        <div class="herounit-wrap txt-center">
                            <h1 class="home-title">@Localizer["DescrHomePage0"]</h1>
                            <div class="scroll-down">
                                <img src="~/img/arrow-down.png" alt="arrow-down">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="center_aligned_content homeText-section">
            <div class="aboutus-section">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 clearfix">
                            <h2 class="title txt-center">
                                @Localizer["DescrHomePage1"]
                            </h2>

                        </div>
                        <div class="col-xs-12 col-lg-12">
                            <div class="content_wrapper">
                                <p class="p1">@Localizer["DescrHomePage2"]</p>
                                <p class="p1">@Localizer["DescrHomePage3"]</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home_panel">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 no-pad halfGrid-section">
                        <div class="col-xs-12 col-sm-7 no-pad left_text bg-green isVerticalMiddle">
                            <h2 class="panel_text">@Localizer["DescrHomePage4"]</h2>
                        </div>
                        <div class="col-xs-12 col-sm-5 no-pad right_image isVerticalMiddle" style="background-image: url('/img/im2.png');">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
