@inject IViewLocalizer Localizer
@model Register

@{
    ViewBag.Title = Localizer["Title"];
}

<div class="herounit herounit-secondary" style="background-image: url('/img/bannerimage-products.png');">
    <div class="container fullHeight">
        <div class="row fullHeight">
            <div class="herounit-wrapper fullHeight col-xs-12">
                <div class="herounit-wrap txt-center">
                    <h1 class="page_title">@Localizer["Title"]</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin:10%;">
    <div class="col-md-4 col-md-offset-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly">

            </div>
            <div class="form-group">
                <div><label asp-for="UserName">@Localizer["Username"]:</label></div>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div><label asp-for="Password">@Localizer["Password"]:</label></div>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div><label asp-for="Email">@Localizer["Email"]:</label></div>
                <input asp-for="Email" class="form-control" type="email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div><label asp-for="FirstName">@Localizer["FirstName"]:</label></div>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div><label asp-for="LastName">@Localizer["LastName"]:</label></div>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group" align="right">
                <button type="submit" class="btn btn-secondary">@Localizer["btn"]</button>
            </div>
            <div class="text-success">@ViewBag.UserMessage</div>
        </form>
    </div>
</div>
